<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="//www.google-analytics.com" rel="dns-prefetch">
        <link href="{{ SITEURL }}/theme/images/favicon.png" rel="shortcut icon">
        <link rel='stylesheet' id='normalize-css'  href='{{ SITEURL }}/theme/css/normalize.css' media='all' />
        <link rel='stylesheet' id='foundation-css'  href='{{ SITEURL }}/theme/css/foundation.min.css' media='all' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='{{ SITEURL }}/theme/css/style.css' media='all' />
        <link rel='stylesheet' href='{{ SITEURL }}/theme/css/marcodenashare.css' media='all' />
        <link rel='stylesheet' href='{{ SITEURL }}/theme/css/monokai.css' media='all' />
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'></script>

        {% if output_file == 'index.html' %}
        <meta name="description" content="Marco De Nadai is a passionate data scientist and web/iOS developer. This page shows his portfolio and papers.">
        {% endif %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body id="index" class="home">
  <!-- header -->
                        <header class="header clear" role="banner" id="header">
                          <div class="row">
                          <div class="large-12 column">
                            <!-- logo -->
                            <div class="logo">
                                <a href="{{ SITEURL }}/" class="show-for-medium-up">
                                    <img src="{{ SITEURL }}/theme/images/marcodena.jpg" alt="Logo" class="logo-img">
                                </a><br />
                            </div>
                            <!-- /logo -->

                            <!-- nav -->
                            <nav class="nav" role="navigation">
                                <ul>
                                    <li><a href="{{ SITEURL }}/">Home</a></li>
                                    <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
                                    <li><a href="{{ SITEURL }}/about">About</a></li>
                                    
                                    <li class="social"><a href="http://nl.linkedin.com/in/marcodenadai/"><i aria-hidden="true" class="icon-linkedin"></i></a></li>
                                    <li class="social"><a href="http://www.marcodena.it/CV.pdf"><i aria-hidden="true" class="icon-file-pdf"></i></a></li>
                                    <li class="social"><a href="https://github.com/denadai2"><i aria-hidden="true" class="icon-github-circled"></i></a></li>
                                    <li class="social"><a href="http://twitter.com/denadai2"><i aria-hidden="true" class="icon-twitter"></i></a></li>
                                </ul>

                            </nav>
                            <!-- /nav -->
                          </div>
                          </div>
                        </header>
                        <!-- /header -->
            <!--<div class="large-12 columns">
                <div class="row">
                    
                    <div class="large-12 columns" style="padding-top:30px">-->
                        {% block content %}
                        {% endblock %}
                    <!--</div>

</div>

</div>-->
<script>
  (function(d) {
    var config = {
      kitId: 'yfd3ppx',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-210377-21']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
</body>
</html>
