{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="column large-12 end" id="index">
{% include 'sidebar.html' %}

<section id="articles" class="body column large-8 large-offset-1 end">
    <h2>Latests articles</h2>
    {% for article in articles_page.object_list %}
        <div class="row articleSummary">
            <div class="column large-2 date">{{ article.date.strftime("%B %Y") }}</div>
            <div class="column large-10 end">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><h4>{{ article.title }}</h4></a>
                <p>{{ article.exceprt }}</p>
            </div>
        </div>
        {% endfor %}
</section>

<section id="publications" class="body column large-8 large-offset-3 end">
    <h2>Publications</h2>

    <div class="row articleSummary">
            <div class="column large-2 date">2016</div>
            <div class="column large-10 end">
                <h4>The Death and Life of Great Italian Cities: A Mobile Phone Data Perspective</h4><p>The Death and Life of Great American Cities was written in 1961 and is now one of the most influential book in city planning. In it, Jane Jacobs proposed four conditions that promote life in a city. However, these conditions have not been empirically tested until recently.
We operationalized these conditions extracting information from Open Data, Foursquare and mobile phone data and testing them in six Italian cities.</p>
                <p class="links">[WWW-2016] [<a href="http://arxiv.org/abs/1603.04012">arXiv</a>]</p>
            </div>
    </div>

    <div class="row articleSummary">
            <div class="column large-2 date">2016</div>
            <div class="column large-10 end">
                <h4>The Mobile Territorial Lab: A multilayered and dynamic view on parents' daily lives</h4><p>Description of the Mobile Territorial Lab (MTL) project, a longitudinal living lab which has been sensing by means of technology (mobile phones) the lives of more than 100 parents in different areas of the Trentino region in Northern Italy. We present the preliminary results after two years of experimentation of, to the best of our knowledge, the most complete picture of parents’ daily lives.</p>
                <p class="links">[<a href="http://epjdatascience.springeropen.com/articles/10.1140/epjds/s13688-016-0064-6">EPJ Data Science</a>]</p>
            </div>
    </div>

    <div class="row articleSummary">
            <div class="column large-2 date">2015</div>
            <div class="column large-10 end">
                <h4>A multi-source dataset of urban life in the city of Milan and the Province of Trentino</h4><p>Description of the richest open multi-source dataset ever released on two geographical areas. The dataset is composed of telecommunications, weather, news, social networks and electricity data from the city of Milan and the Province of Trentino.</p>
                <p class="links">[<a href="http://www.nature.com/articles/sdata201555">Nature Scientific Data</a>]</p>
            </div>
    </div>

    <div class="row articleSummary">
            <div class="column large-2 date">2015</div>
            <div class="column large-10 end">
                <h4>Investigating the relationships between spatial structures and urban characteristics (<a href="http://www.netmob.org/">NETMOB2015</a> at MIT)</h4><p>Analysis of the communication networks of <b>12 Italian cities</b> with more than 150'000 inhabitants in order to investigate the impact of cities' spatial structures and dynamics on different socioeconomic outcomes such as economic growth, innovation, contagious disease rates and crime.</p>
                <!-- <p class="links">[<a href="#">PNAS (2016)</a>] [Phys.org] [project page]</p> -->
            </div>
    </div>
            <div class="row articleSummary">
                <div class="column large-2 date">2015</div>
                <div class="column large-10 end">
                    <h4>Short-term anomaly detection in gas consumption through ARIMA and Artificial Neural Network forecast</h4>
                    <p class="links">[<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7175886&tag=1">EESMS 2015</a>] [<a href="https://github.com/denadai2/energyUva">source code</a>]</p>
                </div>
            </div>

</section>
</div>
</div>


<section id="personal-projects" class="body column large-8 large-offset-3 end">
    <h2>Personal projects</h2>
                <div class="row articleSummary">
                <div class="column large-2 date">July 2013</div>
                <div class="column large-10 end">
                    <a href="https://github.com/denadai2/soccerbigdata_DEBS_analysis"><h4>A new massive data analytics approach to the football</h4></a>
                    <p>Small framework of tools which permits the coaches to base
                        their new strategies not only on their intuitions and judgments
                        but also on comprehensive (and maybe not human-eye visible)
                        statistics. These tools were developed using Massive-data analytics techniques.</p>
                </div>
            </div>
            <div class="row articleSummary">
                <div class="column large-2 date">May 2010</div>
                <div class="column large-10 end">
                    <a href="https://github.com/denadai2/formalVerificationOAuthProverif"><h4>Formal verification OAuth 2.0 protocol</h4></a>
                    <p>Formal verification of the protocol OAuth 2.0 (draft 22) using the automatic cryptographic protocol verifier <a href="http://prosecco.gforge.inria.fr/personal/bblanche/proverif/">Proverif</a>.</p>
                </div>
            </div>
</section>


<section id="personal-projects" class="body column large-8 large-offset-3 end">
    <h2>Awards</h2>
            <div class="row articleSummary">
                <div class="column large-2 date">2015</div>
                <div class="column large-10 end">
                    <h4>Best Master's student</h4>
                    <p>The University of Trento granted me this honour.</p>
                </div>
            </div>
            <div class="row articleSummary">
                <div class="column large-2 date">2014</div>
                <div class="column large-10 end">
                    <h4>Finalist Data Journalism Awards 2014</h4>
                    <p>The <a href="http://www.marcodena.it/projects/westgate-attack/">Westgate attack project</a> was nominated in the Data Journalism Awards 2014, organized by the <a href="http://www.globaleditorsnetwork.org/">Global Editors Network</a>.</p>
                </div>
            </div>
            <div class="row articleSummary">
                <div class="column large-2 date">2014</div>
                <div class="column large-10 end">
                    <h4>Best application</h4>
                    <p><a href="http://www.marcodena.it/projects/ulook/">Ulook</a> was recognized as the best application in the "Community and Social" category by the "Smau Mob App Awards" that took place during the Smau 2014.</p>
                </div>
            </div>
            <div class="row articleSummary">
                <div class="column large-2 date">2012</div>
                <div class="column large-10 end">
                    <h4>Special creativity price</h4>
                    <p>Special creativity award from <a href="http://www.ied.com">IED</a> at StartupWeekEnd 2012 - Turin. The award was assigned to "Linked Green" project, that permits to scan a product's barcorde and see all the informations about its package and it's eco sustainability.</p>
                </div>
            </div>
</section>


<section id="projects" class="row">
        <div class="large-12 columns projects projectsList end">
        <h2>Other projects I've done in the past</h2>
        {% for page in pages|sort(attribute='sortorder', reverse=True) if page.category == 'Projects' %}
        <a href="{{ SITEURL }}/{{ page.url }}" title="Permalink to {{ page.title|striptags }}" rel="bookmark" class="thumbnail"><img src="{{ SITEURL }}/theme/images/projects/{{ page.thumb }}" /><span class="overlay">
                                <span class="project"><h3 class="entry-title">{{ page.title }}</h3></span>
                                <hr>
                                <span class="duties">{{ page.summary }}</span>
                            </span></a>
        {% endfor %}
        </div>

</section>





{% endblock content %}
