{% extends "base.html" %}
{% block content %}


<section id="articles" class="body cell large-8 large-offset-1 end index">
    <h2>Latests articles</h2>
    {% for article in articles_page.object_list %}
        <div class="grid-x articleSummary">
            <div class="cell large-2 date">{{ article.date.strftime("%b %Y") }}</div>
            <div class="cell large-10 end">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><h4>{{ article.title }}</h4></a>
            </div>
        </div>
    {% endfor %}
</section>

<section id="publications" class="body column large-8 large-offset-3 end">
    <h2>Main publications</h2>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2021</div>
            <div class="cell large-10 end">
                <h4>Smoothing the Latent Style Space for Unsupervised Image-to-Image Translation</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[Coming in CVPR]</p>
            </div>
    </div>
    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2020</div>
            <div class="cell large-10 end">
                <h4>Semantic-Guided Inpainting Network for Complex Urban Scenes Manipulation</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/2010.09334">arXiv</a>]</p>
            </div>
    </div>
    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2020</div>
            <div class="cell large-10 end">
                <h4>Describe What to Change: A Text-guided Unsupervised Image-to-Image Translation Approach</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/2008.04200">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2020</div>
            <div class="cell large-10 end">
                <h4>Retrieval Guided Unsupervised Multi-domain Image-to-Image Translation</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/2008.04991">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>Precise mapping, spatial structure and classification of all the human settlements on Earth</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span><span>GIS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/2006.06584">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>Mobile phone data for informing public health actions across the COVID-19 pandemic life cycle</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <p class="links">[<a href="https://advances.sciencemag.org/content/6/23/eabc0764.abstract">Science Advances</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>Socio-economic, built environment, and mobility conditions associated with crime: A study of multiple cities</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span><span>GIS</span><span>MCMC</span></p>
                <p class="links">[<a href="https://www.nature.com/articles/s41598-020-70808-2">Nature Scientific Reports</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>GMM-UNIT: Unsupervised Multi-Domain and Multi-Modal Image-to-Image Translation via Attribute Gaussian Mixture Modeling</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/2003.06788">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>Gesture-to-Gesture Translation in the Wild via Category-Independent Conditional Maps</h4>
                <p class="papertags"><span>COMPUTER VISION</span><span>GANS</span></p>
                <p class="links">[<a href="https://arxiv.org/abs/1907.05916">arXiv</a>] [ACM MM' 19]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2019</div>
            <div class="cell large-10 end">
                <h4>Strategies and limitations in app usage and human mobility</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span><span>MOBILITY</span><span>DATA MINING</span></p>
                <p class="links">[<a href="https://www.nature.com/articles/s41598-019-47493-x">Nature Scientific Reports</a>] [<a href="https://arxiv.org/abs/1904.09350">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2018</div>
            <div class="cell large-10 end">
                <a href="pages/the-economic-value-of-neighborhoods-predicting-real-estate-prices-from-the-urban-environment.html"><h4>The economic value of neighborhoods: Predicting real estate prices from the urban environment</h4></a>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span><span>DATA MINING</span></p>
                <p class="links">[<a href="https://ieeexplore.ieee.org/abstract/document/8631423">IEEE DSAA 2018</a>] [<a href="https://arxiv.org/abs/1808.02547">arXiv</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2016</div>
            <div class="cell large-10 end">
                <a href="pages/are-safer-looking-neighborhoods-more-lively-a-multimodal-investigation-into-urban-life.html"><h4>Are Safer Looking Neighborhoods More Lively? A Multimodal Investigation into Urban Life</h4></a>
                <p class="papertags"><span>COMPUTER VISION</span><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <p class="links">[<a href="https://dl.acm.org/citation.cfm?id=2964284.2964312">ACM MM 2016</a>] [<a href="http://arxiv.org/abs/1608.00462">arXiv</a>] [<a href="http://www.fastcodesign.com/3062516/what-a-neural-network-thinks-about-your-neighborhood-and-why-it-matters">Fast Co.design</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2016</div>
            <div class="cell large-10 end">
                <a href="pages/the-death-and-life-of-great-italian-cities-a-mobile-phone-data-perspective.html"><h4>The Death and Life of Great Italian Cities: A Mobile Phone Data Perspective</h4></a>
                <p class="papertags"><span>DATA MINING</span><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <p class="links">[<a href="http://dl.acm.org/citation.cfm?id=2883084">WWW 2016</a>] [<a href="http://arxiv.org/abs/1603.04012">arXiv</a>] [<a href="https://www.technologyreview.com/s/601107/data-mining-reveals-the-four-urban-conditions-that-create-vibrant-city-life/">MIT Technology Review</a>] [<a href="https://www.fastcompany.com/3058864/jane-jacobs-was-right-about-what-makes-a-great-city-and-mobile-phone-data-proves-it">Fast Company</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2016</div>
            <div class="cell large-10 end">
                <h4>The Mobile Territorial Lab: A multilayered and dynamic view on parents' daily lives</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <p class="links">[<a href="http://epjdatascience.springeropen.com/articles/10.1140/epjds/s13688-016-0064-6">EPJ Data Science</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2015</div>
            <div class="cell large-10 end">
                <a href="pages/a-multi-source-dataset-of-urban-life-in-the-city-of-milan-and-the-province-of-trentino.html"><h4>A multi-source dataset of urban life in the city of Milan and the Province of Trentino</h4></a>
                <p class="papertags"><span>DATASET</span><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <p class="links">[<a href="http://www.nature.com/articles/sdata201555">Nature Scientific Data</a>]</p>
            </div>
    </div>

    <div class="grid-x articleSummary">
            <div class="cell large-2 date">2015</div>
            <div class="cell large-10 end">
                <h4>Investigating the relationships between spatial structures and urban characteristics (<a href="http://www.netmob.org/">NETMOB2015</a> at MIT)</h4>
                <p class="papertags"><span>COMPUTATIONAL SOCIAL SCIENCE</span></p>
                <!-- <p class="links">[<a href="#">PNAS (2016)</a>] [Phys.org] [project page]</p> -->
            </div>
    </div>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">2015</div>
                <div class="cell large-10 end">
                    <h4>Short-term anomaly detection in gas consumption through ARIMA and Artificial Neural Network forecast</h4>
                    <p class="papertags"><span>DATA MINING</span></p>
                    <p class="links">[<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7175886&tag=1">EESMS 2015</a>] [<a href="https://github.com/denadai2/energyUva">source code</a>]</p>
                </div>
            </div>

</section>


<section id="personal-projects2" class="body cell large-8 large-offset-3 end">
    <h2>Personal projects</h2>
                <div class="grid-x articleSummary">
                <div class="cell large-2 date">Jul 2013</div>
                <div class="cell large-10 end">
                    <a href="https://github.com/denadai2/soccerbigdata_DEBS_analysis"><h4>A new massive data analytics approach to the football</h4></a>
                    <p>Small framework of tools which permits the coaches to base
                        their new strategies not only on their intuitions and judgments
                        but also on comprehensive (and maybe not human-eye visible)
                        statistics. These tools were developed using Massive-data analytics techniques.</p>
                </div>
            </div>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">May 2010</div>
                <div class="cell large-10 end">
                    <a href="https://github.com/denadai2/formalVerificationOAuthProverif"><h4>Formal verification OAuth 2.0 protocol</h4></a>
                    <p>Formal verification of the protocol OAuth 2.0 (draft 22) using the automatic cryptographic protocol verifier <a href="http://prosecco.gforge.inria.fr/personal/bblanche/proverif/">Proverif</a>.</p>
                </div>
            </div>
</section>


<section id="personal-projects" class="body cell large-8 large-offset-3 end">
    <h2>Awards</h2>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">2015</div>
                <div class="cell large-10 end">
                    <h4>Best Master's student</h4>
                    <p>The University of Trento granted me this honour.</p>
                </div>
            </div>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">2014</div>
                <div class="cell large-10 end">
                    <h4>Finalist Data Journalism Awards 2014</h4>
                    <p>The <a href="http://www.marcodena.it/projects/westgate-attack/">Westgate attack project</a> was nominated in the Data Journalism Awards 2014, organized by the <a href="http://www.globaleditorsnetwork.org/">Global Editors Network</a>.</p>
                </div>
            </div>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">2014</div>
                <div class="cell large-10 end">
                    <h4>Best application</h4>
                    <p><a href="http://www.marcodena.it/projects/ulook/">Ulook</a> was recognized as the best application in the "Community and Social" category by the "Smau Mob App Awards" that took place during the Smau 2014.</p>
                </div>
            </div>
            <div class="grid-x articleSummary">
                <div class="cell large-2 date">2012</div>
                <div class="cell large-10 end">
                    <h4>Special creativity price</h4>
                    <p>Special creativity award from <a href="http://www.ied.com">IED</a> at StartupWeekEnd 2012 - Turin. The award was assigned to "Linked Green" project, that permits to scan a product's barcorde and see all the informations about its package and it's eco sustainability.</p>
                </div>
            </div>
</section>


<section id="projects" class="grid-x">
        <div class="large-12 cells projects projectsList end">
        <h2>Other projects I've done in the past</h2>
        {% for page in pages|sort(attribute='sortorder', reverse=True) if page.category == 'Projects' %}
        <a href="{{ SITEURL }}/{{ page.url }}" title="Permalink to {{ page.title|striptags }}" rel="bookmark" class="thumbnail"><img src="{{ SITEURL }}/theme/images/projects/{{ page.thumb }}" alt="Project {{ page.title }}" /><span class="overlay">
                                <span class="project"><h3 class="entry-title">{{ page.title }}</h3></span>
                                <hr>
                                <span class="duties">{{ page.summary }}</span>
                            </span></a>
        {% endfor %}
        </div>

</section>





{% endblock content %}
