<div id="article-author-side" class="cell large-2">
	<div class="grid-x">
		<div class="cell small-5 large-12">
			<img src="{{ SITEURL }}/theme/images/profile_picture.jpg" class="bio-photo" alt="Marco De Nadai bio photo">
    		<h3>Marco De Nadai</h3>
		</div>
		<div class="cell small-7 large-12 hide-for-small-only">
			<p id="personal-description">Data Scientist and Ph.D. student at University of Trento, Italy.</p>
		</div>
      	<div class="cell small-6 large-12">
      		<ul id="social-info">
		      <li><i aria-hidden="true" class="icon-twitter"></i> <a href="http://twitter.com/denadai2">Twitter</a></li>
		      <li><i aria-hidden="true" class="icon-github-circled"></i> <a href="https://github.com/denadai2">GitHub</a></li>
		      <li><i aria-hidden="true" class="icon-linkedin"></i> <a href="http://nl.linkedin.com/in/marcodenadai/">LinkedIn</a></li>
		      <li><i aria-hidden="true" class="icon-file-pdf"></i> <a href="http://www.marcodena.it/resume_Marco_De_Nadai.pdf">Curriculum Vitae</a></li>
		    </ul>

		</div>
	</div>
</div>