<div id="article-author-side" class="column large-2">
    <div style="text-align:center">
    <img src="{{ SITEURL }}/theme/images/marcodena.jpg" class="bio-photo" alt="Marco De Nadai bio photo">
    </div>
    <h3>Marco De Nadai</h3>
    <p id="personal-description">Data Scientist and Ph.D. student at University of Trento, Italy.</p>

    <ul id="social-info">
      <li><i aria-hidden="true" class="icon-twitter"></i> <a href="http://twitter.com/denadai2">Twitter</a></li>
      <li><i aria-hidden="true" class="icon-github-circled"></i> <a href="https://github.com/denadai2">GitHub</a></li>
      <li><i aria-hidden="true" class="icon-linkedin"></i> <a href="http://nl.linkedin.com/in/marcodenadai/">LinkedIn</a></li>
      <li><i aria-hidden="true" class="icon-file-pdf"></i> <a href="http://www.marcodena.it/CV.pdf">Curriculum Vitae</a></li>
    </ul>
    
</div>